<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Más</ion-title>
  </ion-toolbar>
</ion-header>

<!---<ion-content>
  <div class="list-wrapper">
    <app-more-row
      [imgPath]="this.manageImg"
      [displayText]="this.i18.ADMINISTRA"
      (rowClicked)="this.manageClicked()"
    ></app-more-row>
    <app-more-row
      [imgPath]="this.fxRatesImg"
      [displayText]="this.i18.CALCULADORA"
      (rowClicked)="this.fxRatesClicked()"
    ></app-more-row>
    <app-more-row
      [imgPath]="this.branchLocatorImg"
      [displayText]="this.i18.SUCURSALES"
      (rowClicked)="this.branchLocatorClicked()"
    ></app-more-row>
    <app-more-row
      [imgPath]="this.contactUsImg"
      [displayText]="this.i18.CONTACTO"
      (rowClicked)="this.contactUsClicked()"
    ></app-more-row>
    <app-more-row
      [imgPath]="this.termsImg"
      [displayText]="this.i18.TERMINOS"
      (rowClicked)="this.termsClicked()"
    ></app-more-row>
    <app-more-row
      [imgPath]="this.policyImg"
      [displayText]="this.i18.POLITICAS"
      (rowClicked)="this.policyClicked()"
    ></app-more-row>
    <app-more-row
      [imgPath]="this.deleteAccountImg"
      [displayText]="this.i18.ELIMINAR"
      (rowClicked)="this.deleteAccountClicked()"
    ></app-more-row>
    <app-more-row
      [imgPath]="this.logoutImg"
      [displayText]="this.i18.CERRAR"
      (rowClicked)="this.logoutClicked()"
    ></app-more-row>
  </div>
  <span
    class="font-noto-regular font-size-14 line-height-19 font-color-999999 version"
    >{{this.getVersionDisplay()}}</span
  >
</ion-content>---->
