
ion-header{
    ion-buttons{
        ion-button{
            ion-icon {
                 color: #000000;
            }   
        }
    }
}

.ion-padding{

ion-card{
    display: inline-block;
    //width: 133px;
    //margin-left: 20px;
    //margin-right: 6px;
    //margin-top: 60px;
    //color: #c4c4c4c4;
    //margin-right: 20px;
    width: 100%;
    margin: 0 0 10px 0;
    break-inside: avoid;



}


}
