<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="end"  routerLink="/tabs/inicio">
      <ion-button>
          <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title>Examen </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>  
<ion-card> 
  <ion-card-content>
    
  <ion-item-sliding >
    <ion-item >
      <ion-label text-wrap class="title" >
        <h2><strong>Tema:</strong></h2>
        <h2>{{ datoRespuesta.nombre}} </h2>
        <p><strong>Examen:</strong></p>
        <p>{{ datoRespuesta.nombreTema}}</p>
      </ion-label>
    </ion-item>
  </ion-item-sliding>  
  <ion-grid  class="table table-striped" *ngFor="let examen of preguntasResueltas"> 
    <ion-row>
          <ion-col>
              </ion-col>
              <ion-col>
              </ion-col>
  </ion-row>  
  <ion-col>
    <ion-item  color="primary">
      {{ examen.pregunta }}  
    </ion-item>
    </ion-col>   
      <ion-row>
          <ion-col size="10">
            a) {{ examen.r1 }}
          </ion-col>
          <ion-col >
            <ion-checkbox type="checkbox" name="o1" color="primary"  id="o1"  [(ngModel)]="examen.o1" (click)="opcion1(examen.idExamen, examen.o1, examen.idDatosE)" ></ion-checkbox>
          </ion-col>
      </ion-row>

      <ion-row class="gris">
          <ion-col size="10">
          b) {{ examen.r2 }}
          </ion-col>
          <ion-col>
            <ion-checkbox type="checkbox" name="o2" color="primary"  id="o2" [(ngModel)]="examen.o2" (click)="opcion2(examen.idExamen, examen.o2, examen.idDatosE)"></ion-checkbox>
          </ion-col>
      </ion-row>

      <ion-row>
          <ion-col size="10">
            c) {{ examen.r3 }}
          </ion-col>
          <ion-col >
            <ion-checkbox   name="o3" color="primary"  id="o3"   [(ngModel)]="examen.o3" (click)="opcion3(examen.idExamen, examen.o3, examen.idDatosE)"></ion-checkbox>
          </ion-col>
      </ion-row>
</ion-grid>
  </ion-card-content>
</ion-card> 

<div *ngIf=" dato.nombre != '' ">
  <ion-button  expand="block" shape="round" (click)="calificar()">
    Finalizar
  </ion-button > 
</div>  
</ion-content>