<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="business-outline"></ion-icon>      
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cursos">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Cursos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consejos">
      <ion-icon name="mail-outline"></ion-icon>      
      <ion-label>Consejos</ion-label>
    </ion-tab-button>

  <ion-tab-button tab="mas">
    <ion-icon name="reorder-three-outline"></ion-icon>    
    <ion-label>Más</ion-label>
  </ion-tab-button>

</ion-tab-bar>

</ion-tabs>
