<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>      
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cursos">
      <ion-icon name="document-text-outline"></ion-icon>      
      <ion-label>Tests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consejos">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>      
      <ion-label>Consejos</ion-label>
    </ion-tab-button>

  <ion-tab-button tab="perfil">
    <ion-icon name="person-circle-outline"></ion-icon>    
    <ion-label>Perfil</ion-label>
  </ion-tab-button>

</ion-tab-bar>

</ion-tabs>
