

<ion-content [fullscreen]="true" class="ion-padding">
        <div class="actions">
            <div class="login-buttons">
                <ion-button (click)="btnClicked()" routerLink="inicio">
                    <ion-icon name="logo-google"></ion-icon>
                    <p>Google</p>
                  </ion-button>            
            </div>
            <div class="separator">
                <span>o</span>
                <span class="line left"></span>
                <span class="line right"></span>
            </div>
        
            <ion-button class="signup-btn" (click)="crearcuenta()" routerLink="signup" expand="block">Crear cuenta</ion-button>
            <p class="login" (click)="login()" routerLink="login">¿Ya tienes una cuenta? <a>Iniciar sesión</a></p>
        </div>
</ion-content>