<ion-header>
  <ion-toolbar>
    <ion-title>Olvidé mi contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-item>  
    <ion-input placeholder='Correo electrónico'></ion-input>
  </ion-item>
  <ion-item>  
    <ion-input placeholder='Nueva Contraseña'></ion-input>
  </ion-item>
  <ion-item>  
    <ion-input placeholder='Confirmar Contraseña'></ion-input>
  </ion-item>
  <ion-button class="password-btn" expand="block">Iniciar sesión</ion-button>
</ion-content>
