* {
    font-family: lato;
}

.menu-header-bg {

    height: 180px;
    width: 350 px;
    background: #13FB5B;
    background: linear-gradient(90deg, #13FB5B 0%, #13FB5B 100%);
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -70px;
    margin-bottom: 60px;
    
}

.header-content{
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;

    img{
        width: 50px;
        height: 80 px;
        border-radius: 30px;
        //border: 1px solid #ffffff;
        margin-right: 14px;

    }

    h2{

        font-weight: 300;
        //color: #000000;
  

    }
}