<ion-header>
  <ion-toolbar mode="ios">
    <!-- <ion-buttons >
        <ion-icon name="arrow-back" [routerLink]="['/tabs/cursos']"></ion-icon>
      </ion-buttons> -->
  <ion-title>
    Detalles Del Examen
  </ion-title>
  <ion-buttons slot="end"  [routerLink]="['/tabs/inicio']">
    <ion-button>
        INICO
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-card> 
    <ion-card-content>
      <ion-item-sliding>

        <ion-grid *ngFor="let dato of datosExam">
          <ion-row>
            <ion-col>
              <h2><strong>Examen:</strong></h2>
            </ion-col>
            <ion-col >
              <h2> {{dato.nombre}} </h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p><strong> Tema:</strong></p>
            </ion-col>
            <ion-col >
              <p> {{dato.nombreTema}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <ion-button (click)="irExamen(dato.idDatosE)" expand="block" fill="clear" color="danger" shape="round">
                  Generar e ir al examen
              </ion-button>
            </ion-col>
            <!-- <ion-col >
              <ion-button  expand="block" fill="clear" color="primary" shape="round">
                Examen Realizado
            </ion-button>
            </ion-col> -->
          </ion-row>
          <hr/>
        </ion-grid> 
      </ion-item-sliding>
      <!-- <div *ngIf="examencontestado() === false">
        <ion-button  expand="block" fill="clear" color="primary" shape="round">
          Examen Realizado
      </ion-button>
      </div> -->

      </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="nuevoExamen()" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
