<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start" class="back-button">
      <ion-icon name="arrow-back"></ion-icon>      
    </ion-buttons>
  <ion-title>Crear cuenta</ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-item>  
    <ion-input placeholder='Nombre'></ion-input>
  </ion-item>
  <ion-item>  
    <ion-input placeholder='Apellidos'></ion-input>
  </ion-item>
  <ion-item>  
    <ion-input placeholder='Correo electrónico'></ion-input>
  </ion-item>
  <ion-item>  
    <ion-input placeholder='Contraseña'></ion-input>
  </ion-item>
  <ion-item>  
    <ion-input placeholder='Confirmar Contraseña'></ion-input>
  </ion-item>
  <ion-button class="signup-btn" expand="block">Crear cuenta</ion-button>
</ion-content>
